
<table class="table table-bordered border-primary col-md-5  top-40 w-50 mx-auto my-auto">

  <thead>
    <tr>
      <th scope="col">番号</th>
      <th scope="col">体温</th>
      
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
        <tr>
        <th scope="row"><%=link_to user.id, user_path(user) %></th>
        <td><%= user.temperatures.first.num %></td>
        </tr>
    <% end %>
    
  </tbody>
</table>

