@import "bootstrap";
@import '../stylesheets/application';

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  
  #session_remember_me {
    width: auto;
    margin-left: 0;
  }

  .button {
      width: auto;
  }

  .delete-account {
      color: rgb(170, 125, 125)
  }
  .temps-table {
    background-color: rgb(189, 186, 186);
  }
